 <section
      class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white">
      <div class="z-30 relative h-full flex flex-col">
        <header>
          <h2 class="text-green-500 pt-90 text-5xl font-medium">HelioPolis</h2>
          <p class="text-white text-base">Cosechando rayos de sol</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
          <div>
            <a
              class="border-[3px] border-green-500 bg-white/5 backdrop-blur-sm rounded text-sm text-white px-12 py-2 inline-block hover:bg-green-400
			  hover:text-black transition-colors duration-300"
              href="#"
            >
              Contactanos
            </a>
          </div>
        </footer>
      </div>
      <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
          class="object-center object-cover h-full w-full"
          autoplay
          muted
          loop
          src="vid/videoplayback (1).webm"></video>
      </div>
    </section>